/* body {
    text-align: center;
} */

ul {
    list-style-type: none;
    /* margin: 0;
    padding: 0; */
}

li {
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    height: 25px;
    width: 50px;
    height: 30px;
    /* margin: 0 auto; */
}

.layer {
    width: 200px;
}

.node-here {
    margin-top: 3px;
    padding: 0;
    background-color: white;
    height: 23px;
    width: 80px;
}

.node {
    background-color: aquamarine;
}

.opti {
    background-color: coral;
}